<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webhook_settings>
            <general>
                <enabled>0</enabled>
                <api_key></api_key>
                <host>https://your-webhook-host.com/</host>
                <revision>2025-04-15</revision>
            </general>
            <events>
                <order_enabled>1</order_enabled>
                <order_event_name>Placed Order Webhook</order_event_name>
                <shipment_enabled>1</shipment_enabled>
                <shipment_event_name>Shipment Created Webhook</shipment_event_name>
            </events>
        </webhook_settings>
    </default>
</config>